body{
    height: 100%;
    background: #d5ddf7;
  }
  .webpage{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 10%;
    width: 600px;
    height: 420px;
    background: #333333;
    z-index: 1;
    box-shadow: 10px 10px 15px 0px #000000bf;
  }
  .triangle-1{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 420px 300px 0 0;
    border-color: #333333 transparent transparent transparent;
    z-index: 2;
  }
  .triangle-2{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
    background: linear-gradient(#ffffffbb,#ffffffcc),
    url("https://images.pexels.com/photos/114907/pexels-photo-114907.jpeg?h=350&auto=compress");
  }
  .red-box{
    position: absolute;
    width: 8%;
    height: 10%;
    top: 10%;
    left: 10%;
    z-index: 1;
    background: #ff2727;
  }
  .white-box{
    position: absolute;
    width: 7%;
    height: 8%;
    top: 12%;
    left: 11%;
    z-index: 2;
    border: 6px #ffffff solid;
    background: none;
  }
  h3{
    position: absolute;
    top: 30%;
    left: 10%;
    color: #a8a8a8;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 300;
  }
  h1{
    position: absolute;
    top: 28%;
    left: 10%;
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    z-index: 3;
  }
  button{
    position: absolute;
    width: 25%;
    height: 10%;
    top: 70%;
    left: 10%;
    color: #ffffff;
    background: #ff2727;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }